<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Article edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Edit article</h1>
    <div th:each="elem : ${article}">
    <form method="post">
        <input type="text" name="title" th:value="${elem.title}" placeholder="Input name of the article" class="form-control"><br>
        <textarea name="fullText" placeholder="Input text" class="form-control" th:text="${elem.fullText}"/><br>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>